apiVersion: apps/v1
kind: Deployment
metadata:
  name: iris-api
  namespace: iris-classifier
spec:
  replicas: 1
  selector:
    matchLabels:
      app: iris-api
  template:
    metadata:
      labels:
        app: iris-api
    spec:
      containers:
      - name: iris-api
        image: us-central1-docker.pkg.dev/theta-index-472515-d8/iris-repo/iris-api:latest
        ports:
        - containerPort: 8200
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "500m"
            memory: "512Mi"
